body {
  background-color: #000;
}

.test {
  display: flex;
  color: #fff;
}


.juejinlogo {
  background: url('../public/logo.a7995ad.svg') no-repeat;
  width: 200px;
  height: 200px;
  background-size: contain;
}