.index {
  background-color: grey;
  display: flex;
  .test {
    width: 400px;
    height: 400px;
  }
}


.logo {
  background: url('../public//微信图片_20190124111920.png') no-repeat;
  width: 100px;
  height: 100px;
  background-size: contain;
}